@charset "UTF-8";

#header {
	height: 600px;
}
.menu{
  display:block;
  position:fixed;
  top:50px;
  right:30px;
}
.menu>a{
  color:#000;
  position:relative;
  top:1px;
  text-decoration:none;
  display:block;
  padding:16px 10px;
  text-align:center;
  background:#fff;
}
.menu:hover>a{
  background:#fff;
  border-top:1px solid #eee;
  border-left:1px solid #eee;
  border-right:1px solid #eee;
}
.dropdown-content{
  padding:0;
  margin:0;
  list-style:none;
  position:absolute;
  right:0px;
  border:1px solid #eee;
  display:none;
  z-index:-1;
}
.dropdown-content a{
  color:#000;
  padding:20px;
  text-decoration:none;
  display:block;
  background:#fff;
}

.dropdown-content a:hover{
  background:#fff;
  text-decoration:underline;
}

.menu:hover .dropdown-content{
  display:block;
}

h1{
  margin:0;
}

.not-selectable{
  -moz-user-select: none;
  -ms-user-select: none;
}

hr {
	margin: 0;
	border: 1px solid #EAEAEC;
}

pre {
  border-top:2px solid #EAEAEC;
  border-bottom:2px solid #EAEAEC;
	padding:20px 15px;
}

section {
	padding-bottom: 100px;
}

.title {
	width: 900px;
	text-align: center;
	padding-top: 180px;
	margin: 0 auto;
}

.title h1 {
	font-size: 150px;
}

.introduction {
	height: 460px;
	background: #f3f3f3;
}

.content {
	padding-bottom: 150px;
}

section>div {
	padding-top: 150px;
	width: 780px;
	margin: 0 auto;
	letter-spacing: 1px;
	line-height: 23px;
}

.application div {
	padding-top: 60px;
}

#settings ul li code{
  font-size:13px;
}
.context {
	background: #f3f3f3;
}
