.container {
  text-align: center;
}
p{
  margin-top: 20px;
  margin-bottom: 5px;
}
.inline-div {
  display:inline-block;
  width:25%;
  vertical-align: top;
}
.form-inline .form-control {
  width: 500px;
}
.space-format{
  margin: 10px auto;
  width: 100px;
  height: 100px;
}
.div-format{
  height: 100px;
  width: 100px;
  margin: 10px auto;
  vertical-align: middle;
  cursor: pointer;
}
.inline-div-format{
  display: inline-block;
  margin: 0 10px;
  cursor: default;
}
